<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_data_object_login">
        <observer name="ec_customer_login" instance="EmizenTech\CustomerAttribute\Observer\CustomerLogin" />
    </event> 
</config>
